body {
  font-family: "DejaVu Sans", "Charis SIL", sans-serif;
  font-size: 9pt;
}

.tables {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.reconstructions {
  display: flex;
  flex-direction: column;
}

.selected-morph {
  font-weight: bold;
  background-color: lightblue;
}
