<table id="edit{{ id }}">
  <tbody>
    <tr>
        <td>ID</td>
        <td>{{ id }}</td>
    </tr>
    <tr>
      <td>Language</td>
      <td>{{ lname }}</td>
    </tr>
    <tr>
      <td>Form</td>
      <td><input id="editform{{ id }}" type="text" value="{{ form }}"/></td>
    </tr>
    <tr>
      <td>Gloss</td>
      <td><input id="editgloss{{ id }}" type="text" value="{{ gloss }}"/></td>
    </tr>
  </tbody>
</table>
