<div id="newset">
  <table>
    <tbody>
      <tr>
        <td>Proto-Language</td>
        <td>
          <select id="plangid">
            {% for plangid, plangname in plangs %}
              <option value={{plangid}}>{{plangname}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>Protoform</td>
        <td><input id="protoform" type="text" value=""></td>
      </tr>
      <tr>
        <td>Proto-gloss</td>
        <td><input id="protogloss" type="text" value=""></td>
      </tr>
    </tbody>
  </table>
</div>
