<div id="supporting{{ refid }}" class="supporting-dialog" data-refid="{{ refid }}" data-prefid="{{ prefid }}">
    <table class="dialog-table">
        <tr>
            <td class="dialog-label">Protoform:</td>
            <td class="dialog-value protoform-value">{{ protoform }}</td>
        </tr>
        <tr>
            <td class="dialog-label">Form:</td>
            <td class="dialog-value">
                <input type="text" id="ipaform-input-{{ refid }}" class="dialog-input" value="{{ form }}">
                <button type="button" id="update-form-btn-{{ refid }}" class="toolbar-btn">Update</button>
            </td>
        </tr>
        <tr>
            <td class="dialog-label">Select Morph:</td>
            <td class="dialog-value">
                <div id="morphs-container-{{ refid }}" class="morphs-container">
                    {% for i, morph in morphs %}
                    <span id="morph-{{ refid }}-{{ i }}" class="morph-span{% if i==morph_index %} selected-morph{% endif %}" data-index="{{ i }}">{{ morph }}</span>
                    {% endfor %}
                </div>
            </td>
        </tr>
    </table>
</div>
